{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>blood bank </title>


 
  <link rel="stylesheet" type="text/css" href="/static/home/bootstrap.css" />

  
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

 
 <link rel="stylesheet" href="/static/assets/css/fontawsom-all.min.css">
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
  
  <link href="/static/home/style.css" rel="stylesheet" />
  
  <link href="/static/home/responsive.css" rel="stylesheet" />

</head>

<body >
  {% include "blood/navbar.html" %}

  <div class="hero_area">
   
    <section class="slider_section ">
      
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                        <br><br><br><br><br><br><br><br>
                    <h1 style="color: red";>
                      Blood Bank  <br>
                      <span>
                        Management
                      </span>
                    </h1>
                    <p>
                      This is the simplify process of Donate and Receiving life saving Blood.
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="/static/images/slider-img.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>

    </section>
    <!-- end slider section -->
  </div>


  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          <span>About Our System</span>
        </h2>
      </div>
    </div>
    <div class="container px-0">
      <div id="customCarousel2" class="carousel  carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="box">
              <div class="client_info">
                <div class="client_name">
                  <h5>
                    Blood bank
                  </h5>
                  <h6>
                    Service
                  </h6>
                </div>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
              <p>
                Blood Bank Management System is a browser based solution that is designed to store, process, retrieve and analyze information concerned with the administrative, inventory management and clinical aspects of providing services within a blood bank.
              </p>
            </div>
          </div>
         
  </section>

  {% include "blood/footer.html" %}

  </body>

  </html>
 